
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}
.red3 {
  left: 0px;
  right: 40px;
  top: 0px;
  z-index: 1;
}

.logoimg {
  z-index: 1;
  padding-left: 40px;
  padding-right: 60PX;
  padding-top: 0px;
}

.logo {
  color: rgb(128, 0, 0);
  font-size: 35px;
  font-family: fantasy;
  letter-spacing: 2px;
}
.logo:hover {
  color: darkred;
}
.logo span {
  color: rgb(115, 115, 115);
  font-size: 35px;
  font-family: fantasy;
  letter-spacing: 2px;
}
.logo span:hover {
  color: darkred;
}
.nav-bar {
  background-color: rgba(26, 13, 0, 0.8);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
}
.nav-bar ul {
  list-style: none;
  display: flex;
}
.nav-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;
}
.nav-bar ul li a {
  font-size: 28px;
  font-family: fantasy;
  color: brown;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-bar ul li a:hover {
  color: blanchedalmond;
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
/* dropdown menu style */
.dropdown-menu {
  display: none;
}
.nav-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(26, 13, 0.5, 0.7);
}
.nav-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}
.nav-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;

}

.logogiua {
  position: relative;
}




*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Karma';
}

body {
  height: 100vh;
  width: 100%;
  background: white;
}
p {
  font-display: uppercase;
}



.anh1 {
  margin-top: 700px;
  padding-top: 1000px;
}

